@import url(https://cdn.esm.sh/prismjs/themes/prism-okaidia.css);

:not(pre) > code[class*="language-"], pre[class*="language-"] {
    display: block;
    overflow-x: auto;
    padding: 1em;
    background: #2f3136;
}

pre code[class*="language-"] {
    padding: 0 !important;
    margin: 0 !important;
}

/*
.token.comment {
    color: #4f54c;
}
.token.tag {
    color: #bdae93;
}
.token.operator, .token.punctuation, .token.subst {
    color: #d5c4a1;
}
.token.operator {
    opacity: .7;
}
.token.bullet, .token.deletion, .token.name, .token.selector-tag, .token.template-variable, .token.variable {
    color: #fb4934;
}
.token.attr, .token.link, .token.literal, .token.number, .token.symbol, .token.variable.constant_ {
    color: #fe8019;
}
.token.class .token.title, .token.title, .token.title.class_ {
    color: #fabd2f;
}
.token.strong {
    font-weight: 700;
    color: #fabd2f;
}
.token.addition, .token.code, .token.string, .token.title.class_.inherited__ {
    color: #b8bb26;
}
.token.built_in, .token.doctag, .token.keyword.atrule, .token.quote, .token.regexp {
    color: #8ec07c;
}
.token.attribute, .token.function .token.title, .token.section, .token.title.function_, .ruby .token.property {
    color: #83a598;
}
.diff .token.meta, .token.keyword, .token.template-tag, .token.type {
    color: #d3869b;
}
.token.emphasis {
    color: #d3869b;
    font-style: italic;
}
.token.meta, .token.meta .token.keyword, .token.meta .token.string {
    color: #d65d0e;
}
.token.meta .token.keyword, .token.meta-keyword {
    font-weight: 700;
}
*/
