@font-face {
	font-family: Whitney;
	font-weight: 300;
	src: url(../fonts/Whitney300.woff) format("woff")
}

@font-face {
	font-family: Whitney;
	font-weight: 400;
	src: url(../fonts/Whitney400.woff) format("woff")
}

@font-face {
	font-family: Whitney;
	font-weight: 500;
	src: url(../fonts/Whitney500.woff) format("woff")
}

@font-face {
	font-family: Whitney;
	font-weight: 600;
	src: url(../fonts/Whitney600.woff) format("woff")
}

@font-face {
	font-family: Whitney;
	font-weight: 700;
	src: url(../fonts/Whitney700.woff) format("woff")
}

body {
  text-rendering: optimizeLegibility !important;
/*  margin-bottom: 80vh; */
}

html {
    scroll-behavior: smooth;
}

*, html {
    margin: 0;
    padding: 0;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}


:root {
  --mono-hue: 113;
  --mono-saturation: 0%;
  --base-color: #e3e5e8;
  --theme-color: #5468ff;

  --content-max-width: none;

  --base-font-family: Whitney;
  --base-font-weight: 500;
  --base-background-color: #36393f;

  --heading-font-weight: 600;
  --heading-color: #fff;

  --blockquote-font-family: monospace;
  --blockquote-background: #18191c;
  --blockquote-border-radius: 3px;

  --code-block-font-family: monospace;
  --code-theme-background: #18191c;
  --code-block-border-radius: 3px;
  --code-block-padding: 16px;

  --sidebar-background: #2f3136;
  --sidebar-width: 335px;
  --sidebar-padding: 0 25px;
  --sidebar-name-font-weight: var(--base-font-weight);
  --sidebar-nav-link-background-color--active: var(--theme-color);
  --sidebar-nav-link-border-radius: 3px;
  --sidebar-nav-link-text-decoration--active: none;
  --sidebar-nav-link-text-decoration--hover: none;
  --sidebar-nav-link-color: #b9bbbe;
  --sidebar-nav-link-color--hover: white;
  --sidebar-nav-link-color--active: white;
  --sidebar-nav-link-padding: 5px 10px;

  --sidebar-name-text-align: center;

  --search-input-background-color: #2f3136;
  --search-input-border-radius: 3px;
  --search-input-border-color: #040405;
  --search-input-padding: 0.5em;
  --search-input-color: #f6f6f7;
  --search-result-item-border-color: #4f545c;
  --search-result-keyword-background: var(--theme-color);

  --code-theme-keyword: #859900;
  --code-theme-tag: #2aa198;
  --code-theme-selector: #2aa198;
  --code-theme-comment: #4f545c;
  --code-inline-border-radius: 3px;
  --code-inline-padding: 3px 5px 4px;

  --link-border-bottom: none;
  --link-border-bottom--hover: none;
  --link-text-decoration: none;
  --link-text-decoration--hover: underline;
  --link-color: #00aff4;

  --selection-color: var(--theme-color);

  --copycode-background: #202225;
}

:root {
    background-color: var(--base-background-color);
    font-family: var(--base-font-family);
    color: #fff;
}

::selection {
  background: var(--theme-color); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--theme-color); /* Gecko Browsers */
}

.nodisplay {
    display: none;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#current {
    cursor: pointer;
}


.input-wrap {
    background-color: var(--search-input-background-color);
    border-width: 1px;
    border-style: solid;
    border-color: var(--search-input-border-color);
    border-radius: var(--search-input-border-radius);
}

input[type="search"] {
    padding: 0.5em;
    background-color: transparent;
    border: none;
    color: var(--search-input-color);
    outline: none;
    font-size: 14px;
    line-height: 1.5;
}
.sidebar input::placeholder {
    color: gray;
}
.sidebar ul {
    list-style-type: none;
}
.sidebar li:not(:last-child) {
   margin-bottom: 5px;
}
.sidebar li > a {
    border-radius: 5px;
    display: block;
}
.sidebar a {
    padding: 8px ;
    padding-left: 12px;
    color: var(--sidebar-nav-link-color);
}
.sidebar a:hover {
    color: white;
}
.sidebar a.active {
    color: white;
    .unselectable;
    background-color: var(--theme-color);
}
img#expand_icon {
    max-height: 1.2em;
    margin-bottom: -0.22em;
    transition-property: transform;
    transition: all 0.2s ease-in-out;
}
a.active img#expand_icon {
    transform: rotate(-90deg);
}
/* li#current > a::before { */
/*     content: 'pee'; */
/* } */
.sidebar-toggle div {
    width: 16px;
    height: 1px;
    background-color: #fff;
    margin: 6px 0;
}
.sidebar-toggle {
    cursor: pointer;
    position: fixed;
    top: 16px;
    left: 16px;
    z-index: 7;
    background: transparent;
    outline: none;
    border: none;
		padding: 1em;
		margin: -1em;
}
.sidebar, .sidebar-toggle, .sidebar + main {
    transition: all 0.35s ease-out;
}
main {
	margin-bottom: 80vh;
}
p.article-info {
    font-size: small;
    margin: 0;
}
.article-info-container {
    margin-bottom: 1em;
}

body:not([data-platform^="Mac"]) {
    * {
        scrollbar-color: hsla(var(--mono-hue), var(--mono-saturation), 50%, 0.3) hsla(var(--mono-hue), var(--mono-saturation), 50%, 0.1);
        scrollbar-width: thin;

        ::-webkit-scrollbar {
            width: $scrollbar-width;
            height: $scrollbar-width;
        }
        ::-webkit-scrollbar-thumb {
            background: hsla(var(--mono-hue), var(--mono-saturation), 50%, 0.3);
        }
        ::-webkit-scrollbar-track {
            background: hsla(var(--mono-hue), var(--mono-saturation), 50%, 0.1);
        }
    }
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: var(--sidebar-width);
    background: var(--sidebar-background);
    position: fixed;
    padding: var(--sidebar-padding);
    overflow-y: auto;
}

div.search {
    order: 1;
    margin: 1.5rem 0 0;
}
#navigation {
    order: 3;
}
p.navtitle {
    padding-bottom: 3px;
}
ul.toc {
    margin-left: 1.5rem;
}
.sidebar > h1 .home-link {
    color: var(--sidebar-name-color);
    font-weight: bold;
}
.sidebar > h1 {
    margin: 1.5rem 0 0;
    font-weight: var(--sidebar-name-font-weight);
    text-align: var(--sidebar-name-text-align);
}
p.credits {
    color: gray;
    font-size: small;
    width: 100%;
    text-align: center;
}
.credits a {
	color: #00aff4;
}
.credits a:hover {
	text-decoration: underline;
}
/* tables */
table {
    border-collapse: collapse;
/*     width: 100%; */
    margin: 0.5em 0;
    border: none;
}
table td {
  border: 1px solid var(--base-color);
  padding: 0.2em 0.8em;
}
table td {
	width: 50%;
}

table tr:first-child td {
  border-top: 1px solid var(--base-color);
}

table tr:last-child td {
  border-bottom: 1px solid var(--base-color);
}

table tr td:first-child {
  border-left: 1px solid var(--base-color);
}

table tr td:last-child {
  border-right: 1px solid var(--base-color);
}



div.credits-container {
	margin: auto;
	margin-bottom: 2em;
    margin-top: 2em;
	align-self: flex-end;
	order: 10 /* should always be at bottom */
}
#mkdocs-search-results {
    order: 3;
    margin: 15px 0;
}
#mkdocs-search-results h3 {
    font-weight: normal;
    font-size: 16px;
    margin: 0 0 0.25em;
}
#mkdocs-search-results article {
    border-bottom: 1px solid;
    border-color: var(--search-result-item-border-color);
    padding: 1em 0;
}
#mkdocs-search-results p {
    color: var(--base-color);
}
#mkdocs-search-results h3 > a {
    padding: 0;
}

pre code {
    display: block;
    overflow: auto;
		border-radius: 5px;
    padding: 16px !important;
    margin-bottom: 0.8em;
    margin-top: 0.8em;
    hyphens: none;
}
code:not([class*="lang-"]):not([class*="language-"]) {
    margin: 0 0.15em;
    white-space: pre-wrap;
    padding: 3px 5px 4px;
    border-radius: 3px;
    background: #18191c;
    color: #fff;
}
code {
    font-family: Inconsolata, Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    font-size: 0.95rem;
}
main h3 {
    margin: 0.5em 0;
}

a {
    text-decoration: none;
    color: #fff;

}
main {
    margin-left: var(--sidebar-width);
}
main {
    padding: 70px;
}
h1.article-title {
    text-decoration: underline;
    margin-bottom: 0.35em;
}

main a {
    color: #00aff4;
}

main a:hover {
    text-decoration: underline;
}

main p {
    margin: 1em 0;
}
/*
@media (
*/
@media (min-width: 48em) {
  .sidebar-toggle, .sidebar-toggle-button {
    display: none;
  }
}
