<!DOCTYPE html>
<html>
    <head>
        <title>{% if not page.meta.title %}{{ page.title }}{% endif %}{% if page.meta.title %}{{ page.meta.title }}{% endif %} - {{ config.site_name }}</title>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0">
        <link rel="stylesheet" href="{{ 'css/style.css' | url }}">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">

        {%- if config.theme.highlightjs %}
        <link rel="stylesheet" href="/css/hljs.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
        {%- endif %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

        <script>var base_url = '{{ base_url }}';</script>
		{% if 'search' in config['plugins'] %}
        <script src="/search/main.js" defer></script>
		{% endif %}

        <script src="/js/tocscroll.js"></script>
	<!--        <script src="/js/clearinput.js"></script> -->
	<script src="/js/dark.js"></script>
        <script src="/js/nav.js"></script>

        <!--  for embeds -->
        <meta property="og:title" content="{{ page.meta.title }}" />
	<meta name="theme-color" content="#5468ff">
        <meta property="og:image" content="https://rippedpiracy.github.io/pix/ripped.png" />
        <meta property="og:site_name" content="{{ config.site_name }}" />
        <meta property="og:description" content="{{ page.meta.description }}" />

    </head>
    <body>

        <button class="sidebar-toggle" onclick="closeOrOpen()">
            <div></div>
            <div></div>
            <div></div>
        </button>

        <aside class="sidebar">

            {% if 'search' in config['plugins'] %}

                {% include "search-modal.html" %}

            {% endif %}



        {% if nav|length>1 %}
            <ul id="navigation">
            {% for nav_item in nav %}
                {% if nav_item.children %}
                    <li>
                        <p class="navtitle">{{ nav_item.title }}</p>
                        <ul>
                        {% for nav_item in nav_item.children %}
						<li id="{% if nav_item.active%}current{% endif %}" {% if nav_item.active%}class="unselectable"{% endif %}>
                            <a {% if nav_item.active%}onclick="collapseCurrent()"{% endif %} {% if not nav_item.active%}href="/{{ nav_item.url }}"{% endif %}>{% if nav_item.active%}<img src="/pix/expand_more.svg" id="expand_icon">{% endif %}{{ nav_item.title }}</a>
                                {% if nav_item.active%}{% include "toc.html" %}{% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li id="{% if nav_item.active%}current{% endif %}" {% if nav_item.active%}class="unselectable"{% endif %}>
                        <a {% if nav_item.active%}onclick="collapseCurrent()"{% endif %} {% if not nav_item.active%}href="/{{ nav_item.url }}"{% endif %}>{% if nav_item.active%}<img src="/pix/expand_more.svg" id="expand_icon">{% endif %}{{ nav_item.title }}</a>
                        {% if nav_item.active%}{% include "toc.html" %}{% endif %}
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}


        <h1 class="site-name"><a class="home-link" href="/">{{ config.site_name }}</a></h1>

        <div class="credits-container">
		<p class="credits"><a href="{{ config.extra.discord_url }}">Discord</a></p>
            <p class="credits"><b>Site Theme by Creatable</b></p>
        </div>

        </aside>
        <main class="content" id="content">
            <div class="article-info-container">
                <h1 class="article-title">{{ page.meta.title }}</h1>
                {% if page.meta.author is defined %}
                    <p class="article-info">Author: {{ page.meta.author }}</p>
                {% endif %}
                {% if page.meta.contributors is defined %}
                    <p class="article-info">Contributors: {{ page.meta.contributors }}</p>
                {% endif %}
            </div>
            {{ page.content }}
	    <!-- <footer>
		    <div class="inline">
			    <p class="article-info">Last updated: {{ page.meta.revision_date }}</p>
		    </div>
		    <!-- <div style="float: right; margin-top: 0.1em;">
			    <p class="article-info"><a href="{{ page.edit_url }}" target="_blank">Edit on </a><i class="fab fa-github"></i></p>
		    </div>
	    </footer>--> 

        </main>
    <a id="darkmodetoggle" onclick="switchTheme()"><img src="/pix/dark_mode.svg"></a>
    </body>
</html>
