{%- if not nav_item.children %}
	<li {% if nav_item.active %}id="current"{% endif %}>
			<a class="navtitle" {% if nav_item.active%}onclick="collapseCurrent()"{% endif %} {% if not nav_item.active%}href="{{ nav_item.url|url }}"{% endif %}>{% if nav_item.active%}<img src="/pix/expand_more.svg" alt="Expand More" id="expand_icon">{% endif %}{{ nav_item.title }}</a>
		{% if nav_item.active%}{% include "toc.html" %}{% endif %}
	</li>
{%- else %}
	<li class="nested">
		<p class="navtitle">{{ nav_item.title }}</p>
		<ul>
			{%- for nav_item in nav_item.children %}
			{% include "nav-sub.html" %}
			{%- endfor %}
		</ul>
	</li>
{%- endif %}
